<br>
<span>
  наведите на квадрат и задержите мышку без движения
</span>
<br/>
<br/>
<span>
  <a routerLink="tow">
    Some sample text 3
  </a>
</span>
<span>
  - - -
</span>
<span>
  <a routerLink="three">
    Directives
  </a>
</span>
<span>
  - - -
</span>
<span>
  <a routerLink="four">
    Data sharing
  </a>
</span>
<span>
  - - -
</span>
<span>
  <a routerLink="five">
    BE response update
  </a>
</span>
<span>
  - - -
</span>
<span>
  <a routerLink="seven">
    API request
  </a>
</span>

<br/>
<br/>

<app-task-one title="Sample title">
  <router-outlet></router-outlet>
</app-task-one>

<br/>
<hr>
<br/>
